*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center ;
    color: #fff;
}

body{
    background-image: url(https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg);
    background-repeat: no-repeat;
    background-size: cover  ;
}
.container {
    background-blend-mode: luminosity;
    background-size:contain;
    background-repeat: no-repeat;
    display:block;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #fff;
    margin: auto;
    padding: 30px;
    width: 90%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.event {
    background-color: rgba(241, 241, 226,0.8);
    
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

button{
    background-color: #2345c0;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formm{
    margin-top: 10px;
    margin-bottom: 10px;
}

a{
    color: white;
    text-decoration: none;
}

.popup{
    display : none;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.popup .popupbox{
    background: seagreen;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 30px;
    text-align: center;
    max-width: 80%;
}

.goback{
    background-color: #2345c0;
    border-radius: 6px;
    border : none;
    outline: none;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
}
  